.acao-social {

  .slide {
    background: url("../img/slide-acao-social.png") center center no-repeat;
    background-size: cover;
    height: 372px;
  }


  .center-carousel.owl-drag{

    .owl-item{
      opacity: 0.3 !important;
    }

    .center{
      opacity: initial !important;
    }
  }

  .owl-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    @extend .col-11;

    button{
      width: 100%;
      text-align: center;
    }
  }

  .owl-dot.active span{
    display: block !important;
    background: $blackm !important;
    border-radius: initial !important;
    width: 100% !important;
    height: 2px !important;
    border-radius: 10px !important;
  }

  .owl-dot span{
    display: block !important;
    background: #dbdbdb !important;
    border-radius: initial !important;
    width: 100% !important;
    height: 2px !important;
    border-radius: 10px !important;
  }

  @media(min-width: map-get($grid-breakpoints, lg)) {
    .slide{
      height: 513px;
    }

    .owl-dots{
      margin: 0 auto;
      padding-bottom: 4rem;
      padding-top: 3rem;
    }

  }
}