.boleto {

  .slide {
    background: url("../img/slide-boleto.jpg") center center no-repeat;
    background-size: cover;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 43px !important;
    }
  }

  i {
    font-size: 28px;
  }

  .icon-fatura{
    border-radius: 100%;
    font-size: 28px;
    border: 1px solid $red;
    padding: 0.8rem 1.1rem;
  }


  table {
    border: 1px solid #F5F5F5;

    thead th:nth-child(3) {
     /*  display: none; */
    }

    tbody tr {
      transition: 0.3s;

      &:hover {
        background: #F7F7F7;
      }

      th, td {
        border-top: 0 !important;
        border-bottom: 1px solid #F5F5F5;

        a {

          span {
            display: none;
          }
        }

        &:nth-child(2) {
          /* display: none; */
        }
      }
    }


  @media(min-width: map-get($grid-breakpoints, md)) {



      thead th:nth-child(3) {
        display: table-cell !important;
      }

      th, td {
        border-top: 0 !important;
        border-bottom: 1px solid #F5F5F5;

        a {
          width: 121px;

          span{
            display: table-cell !important;
          }

          i {
            margin-right: 0.5rem;
          }

        }

        &:nth-child(2) {
          display: table-cell !important;
        }
      }
    }
  }

    .slide {
      height: 513px;

      h2 {
        font-size: 88px;
      }
    }
  }
