.cadastre-sua-area {

  .slide {
    background: url("../img/slide-cadastre.jpg") center center no-repeat;
    background-size: cover;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 48px;
      color: #fff;
    }
  }
  .custom-file-label::after{
    content: "Anexar";
    color: white;
    background-color: #1e1954;
  }

  .submit {
    border: none;
    background: transparent;
  }


  .contacts {

    span {
      font-size: 25px;
    }

    i {
      color: #fff !important;
      font-size: 20px;
    }
  }

  .icon-red {
    height: 53px;
    width: 53px;
    background: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  input {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
  }
  textarea {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
  }

  select{
    border: 2px solid #bdbdbd;
  }

  //button {
  //  border: none;
  //  background: transparent;
  //}

  .btn-blued{
    @extend .btn-primary;
    background-color: $blued;
    border-color: $blued;
  }

  .link-collapse {
    border: 2px solid $red;
    padding: 18px 25px;
    border-radius: 100%;
    margin: 0rem 0.5rem;

    &:nth-child(0) {
      padding: 19px 25px;
    }
  }

  .collapsed {
    border: 2px solid #E6E6E6;
    color: #E6E6E6 !important;
  }

  .card-body {
    color: $blackm;

    span {
      font-size: 22px;
    }
  }

  .box-blue {

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin: 1.5rem 0;
      }

      span {
        color: $red;
      }
    }

  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .box-blue {
      @include make-container-max-widths();
      margin: 0 auto;
    }

    .link-collapse {
      margin: 0rem 1rem;
    }

    .icon {
      margin-right: 0.5rem;
    }

    .card-body {
      padding-left: 0;
    }

    .slide {
      height: 513px;
      h2 {
        font-size: 88px;
      }
    }
  }
}