.contato {

  .slide {
    background: url("../img/slide-contato.png") center center no-repeat;
    background-size: cover;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 48px;
    }
  }


  .contacts {

    span {
      font-size: 25px;
    }

    i {
      color: #fff !important;
      font-size: 20px;
    }
  }

  .icon-red {
    height: 53px;
    width: 53px;
    background: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }

  input {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
  }
  textarea {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
  }

  button {
    border: none;
    background: transparent;
  }

  .mapa iframe{
    height: 362px;
  }

  .wpcf7-response-output{
    margin-top: 0px;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .wpcf7-response-output{
      margin: 7em 0.5em 1em;
    }

    .slide {
      height: 513px;
      h2 {
        font-size: 88px;
      }
    }

    .contacts{
      height: 450px;
    }
  }
  .mapa iframe{
    height: 723px ;
  }
}