footer{
	font-size: 16px;
	font-family: nexa-light;

	.boleto-2-via{
		font-size: 26px;

	}

	.place-widget{
		height: 68px;
		width: 100%;
	}

	input{
		border: none;
		background: transparent;
		border: 2px solid #fff;
		margin: 0.5rem 0;
		padding: 0.5rem 1rem;
		color: #fff;
	}

	.border-top-r{		
		border-top: $red 2px solid;
		display: inline-block;

		.send{
			border: none;
			color: #fff;
			margin-top: 0;
			padding-left: 0;
			padding-top: 0;
			cursor: pointer;
			font-weight: bold;
		}
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #fff;

	}
	::-moz-placeholder { /* Firefox 19+ */
		color: #fff;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: #fff;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: #fff;
	}



	@media(min-width: map-get($grid-breakpoints, md)) {

		.socials-footer{
			margin-top: -3rem;
		}
	}
}

