$black: #343838;
$blue: #00DFFC;
$dullWhite: #f6f6f6;
$easing: cubic-bezier(.6, .05, .28, .91);

.tp-bullets {
  display: none !important;
}

.heading {
  z-index: 10;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 1rem;

  img {
    filter: brightness(0) invert(1);
  }

  input{
    border: none;
    background: transparent;
    border: 2px solid #fff;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    color: #fff;
  }

  .border-top-r{
    border-top: $red 2px solid;
    display: inline-block;

    .send{
      border: none;
      color: #fff;
      margin-top: 0;
      padding-left: 0;
      padding-top: 0;
      cursor: pointer;
      font-weight: bold;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;

  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }


}

.fa-whatsapp {
  color: #7AD06D !important;
}

.fa-phone {
  color: $red !important;
}

#page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#title {
  color: $dullWhite;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

#btn {
  float: right;
  z-index: 5;
  top: 15px;
  right: 15px;
  cursor: pointer;
  transition: left 500ms $easing;
  cursor: pointer;
  margin-top: 9px;
  div {
    width: 30px;
    height: 4px;
    margin-bottom: 7px;
    background-color: #fff;
    transition: transform 500ms $easing, opacity 500ms, background-color 250ms;
  }
}

#btn.active {
  right: 2rem;
  position: absolute;
  div {
    background-color: #fff;
    width: 25px;
  }
  #top {
    transform: translateY(11.5px) rotate(-135deg);
  }
  #middle {
    opacity: 0;
    transform: rotate(135deg);
  }
  #bottom {
    transform: translateY(-10px) rotate(-45deg);
  }
}



#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  right: -700px;
  width: 100%;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  background-color: $blued;
  color: $black;
  transition: all 350ms $easing;
}

#box.active {
  right: 0px;
  opacity: 1;
}

#items {
  position: relative;
  top: 24rem;
  transform: translateY(-50%);

  .item-ex {
    
    &:hover {
      color: #fff !important;
    }
  }

  .item {
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    padding: 8px 30px;
    transition: all 250ms;
    color: #fff;

    &:hover {
      color: $red;
    }

    a {
      margin: 0.5rem 1rem;
      color: #fff;

      i {
        font-size: 1em;
      }

      &:hover {
        color: $red;
      }
    }

    &:nth-child(10) {

      a {
        font-family: 'nexa-regular';
        color: $black !important;
        padding: 0.5rem 1.4rem;
      }
    }

    &:nth-child(11) {

      a {
        font-family: 'nexa-regular';
        color: $black !important;
        padding: 0.5rem 1rem;
      }
    }

  }

  ul a li {
    color: #fff;

    &:hover {
      color: $red;
    }
  }
}

.widget-blue {
  z-index: 20;
  top: 5rem !important;
  right: 0 !important;
  position: relative;
  
  .close{
    position: absolute;
    right: 1rem;
    top: 1rem;

    i{
      color: #fff !important;
    }
  }



  .contacts {

    span {
      font-size: 25px;
    }

    i {
      color: #fff !important;
      font-size: 20px;
    }
  }

  .border-top-r {
    height: 40px;
  }

  .icon-red {
    height: 53px;
    width: 53px;
    background: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;

    i{
      color: #fff !important;
    }
  }

  input {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
  }
  textarea {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
  }

  button {
    border: none;
    background: transparent;
  }

  .mapa iframe {
    height: 362px;
  }

  .wpcf7-response-output {
    margin-top: 0px;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .wpcf7-response-output {
      margin: 7em 0.5em 1em;
    }

  }
  right: 2rem;
}

@media(min-width: map-get($grid-breakpoints, lg)) {

  .widget-blue {
    width: 371px !important;
  }

  .tp-bullets {
    display: block !important;
  }

  #items {
    margin-left: 6rem;
    top: 25rem;

    .item {
      font-size: 1.5em;

      &:nth-child(12) {

        a {
          font-size: 1em;
        }
      }
    }

    ul li {
      font-size: 1.5em;
      color: #fff;
    }

  }

  #box {
    width: 563px;
  }

  #btn.active {
    right: -15rem;
    top: 0rem;
  }

}

#btn, #btn * {
  will-change: transform;

}

#box {
  will-change: transform, opacity;
}

.widget-consultor {
  z-index: 11;
  bottom: 0;
  width: 100%;
  font-size: 24px;
  transition: 0.3s;

  &:hover {
    background: $blued;
  }

  @media(min-width: map-get($grid-breakpoints, lg)) {
    width: 154px;
    height: 62px;
    right: 2rem;
    bottom: 4rem;

    i {
      font-size: 17px;
    }

    .text-widget {
      font-size: 18px;
      width: 100px;
      line-height: 1.3rem;
    }
    .text-21 {
      font-size: 21px;
    }
  }
}

.heading-scroll {
  background: #fff;
  top: 0;
  padding: 0.5rem 0;
  -webkit-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 5px 6px -2px rgba(0, 0, 0, 0.19);

  img {
    filter: initial;
    width: 100px;
  }

  #btn {
    float: right;
    z-index: 5;
    top: 15px;
    right: -15rem;
    transition: left 500ms $easing;

    div {
      width: 30px;
      height: 4px;
      margin-bottom: 7px;
      background-color: $black;
    }
  }

  #btn.active div {
    background-color: #fff;
  }
}

