.historia {

  .slide {
    background: url("../img/slide-historia.png") center center no-repeat;
    background-size: cover;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul{
    margin-bottom: 0;
    margin:  auto;
  }

  .empreendimentos .owl-dots {
    margin-top: 1rem !important;
  }


  @media(min-width: map-get($grid-breakpoints, md)) {
    .slide {
      height: 513px;
      h2 {
        font-size: 88px;
      }
    }
  }

  .all-video {

    .bg-blued {
      height: 303px;
      width: 100%;
      bottom: -3rem;
    }

    .video-historia {
      display: flex;
      justify-content: center;

      iframe {
        width: 100%;
        height: 395px;
        margin-top: 2rem;
        z-index: 999;
        position: relative;
        margin: 0 auto;
      }

      @media(min-width: map-get($grid-breakpoints, md)) {
        @include make-col(7);
        margin: 0 auto;
        margin-bottom: 8rem;

        iframe {
          height: 535px;
        }
      }
    }
  }
}