.support-channels{
	color: $blackm;
	padding: 2rem 0;

	h2{
		font-size: 28px;

		color: $black;
	}

	span{
		font-size: 22px;
	}

	i{
		font-size: 20px;
		color: #fff !important;
		background: $red;
		padding: 1rem;
	}

	.fa-whatsapp{
		padding: 1rem 1.1rem;
	}


	@media(min-width: map-get($grid-breakpoints, lg)) {

		padding: 4rem 0;

	}
}

.empreendimentos{
	@extend .bg-light;

	.owl-carousel .item{ 
		@extend .col-12;

		.img-spotlight{
			//background: url('../img/img-empreendimento.png') center center no-repeat;
			height: 233px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		.type-spotlight{
			padding: 0.5rem 0rem;
			position: absolute;
			top: -1rem;
			left: 0;
			right: 0;
		}	

		h3{
			font-size: 11px;
			margin-bottom: 0;
		}


		.h-grey {
			height: 197px;
			padding-top: 2rem;
		}

		p{
			color: #fff;
			margin-bottom: 0;

			&:nth-child(2){
				font-size: 23px;
				line-height: 2.5rem;

			}
		}

		@media(min-width: map-get($grid-breakpoints, lg)) {

			.img-spotlight{
				height: 328px;
			}

			.type-spotlight{
				padding: 0.5rem 1rem;

				h3{
					font-size: 17px;
				}
			}
		}
	}

	.owl-nav {
		position: absolute;
		top: 9rem;
		width: 100%;

		.owl-prev{
			display: block !important;
			position: absolute;
			left: -0.7rem;

			&:hover{
				background: transparent;
				color: $blackm;
				outline: none;
			}

		}
		.owl-next{
			display: block !important;
			position: absolute;
			
			right: -0.7rem;
			&:hover{
				background: transparent;
				color: $blackm;
				outline: none;
			}
		}

		@media(min-width: map-get($grid-breakpoints, lg)) {
			top: 13rem;

			.owl-prev{ 
				left: -1.5em;

				i{
					font-size: 1.4em;
				}

			}
			.owl-next{
			right: -1.5em; 

				i{

					font-size: 1.4em;

				}
			}
		}
	}

	.owl-dots{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2rem;
	}

	.owl-dot.active span{
		display: block !important;
		background: $blackm !important;
	}

	.owl-dot span{
		display: block !important;
		background: $blackm !important;
	}
}

.oportunity{

  .veccon-20{
    width: 159px;
  }

	.center-carousel.owl-drag{

		.owl-item{
			opacity: 0.3 !important;
		}

		.center{
			opacity: initial !important;
		}
	}

  .owl-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    @extend .col-11;

    button{
      width: 100%;
      text-align: center;
    }
  }

  .owl-dot.active span{
    display: block !important;
    background: $blackm !important;
    border-radius: initial !important;
    width: 100% !important;
    height: 2px !important;
    border-radius: 10px !important;
  }

  .owl-dot span{
    display: block !important;
    background: #dbdbdb !important;
    border-radius: initial !important;
    width: 100% !important;
    height: 2px !important;
    border-radius: 10px !important;
  }

  @media(min-width: map-get($grid-breakpoints, lg)) {

    .owl-dots{
      margin: 0 auto;
    }
    .veccon-20{
      width: 219px;
    }
  }
}
