.imoveis {

  .slide {
    background: url("../img/slide-imoveis.png") center center no-repeat;
    background-size: cover;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 48px;
    }
  }

  .border-lg {
    background: $greyl;
    height: 56px;
    display: flex;
    align-items: center;

    select {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      background: $greyl;
      padding: 0rem 1rem;
      font-size: 16px;
      height: 35px;
      color: $greyd;
      outline: none;
      border-right: 1px solid $greym;

      option{
        color: $greyd;
        padding: 0rem 1rem;
      }
    }
  }

  input {
    height: 56px;
    background: $blued;
    color: #fff;
    border: none;
    width: 100%;
  }

  i {
    position: absolute;
    right: 12px;
    top: 20px;
    bottom: 0;
    pointer-events: none;
    margin: auto 0;
    color: $red;
    font-size: 21px;
  }

  .h-grey{
    height: 197px;
    padding-top: 2rem;
  }


  @media(min-width: map-get($grid-breakpoints, md)) {

    .slide {
      height: 513px;
      h2 {
        font-size: 88px;
      }
    }
  }

  .lacamentos {
    margin-top: 5rem;
    .item{
      opacity: 0.4;

    }
  }

  .item{
    @extend .col-12;
    margin-top: 2rem;

    .img-spotlight{
      background: url('../img/img-empreendimento.png') center center no-repeat;
      height: 233px;
      background-size: cover;
    }

    .type-spotlight{
      padding: 0.5rem 0rem;
      position: absolute;
      top: -1rem;
      left: 0;
      right: 0;
    }

    h3{
      font-size: 11px;
      margin-bottom: 0;
    }

    p{
      color: #fff;
      margin-bottom: 0;

      &:nth-child(2){
        font-size: 31px;
        line-height: 2.5rem;

      }
    }

    @media(min-width: map-get($grid-breakpoints, lg)) {
      @include make-col(4);


      .img-spotlight{
        height: 328px;
      }

      .type-spotlight{
        padding: 0.5rem 1rem;

        h3{
          font-size: 17px;
        }
      }
    }
  }
}