.invista {

  .slide {
    background: url("../img/slide-invista.png") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      font-size: 48px;
      color: #fff;
    }
  }

  .realizacoes {

    span {
      font-size: 24px;
    }
  }

  .link-collapse {
    border: 2px solid $red;
    padding: 18px 25px;
    border-radius: 100%;
    margin: 0rem 0.5rem;

    &:nth-child(0) {
      padding: 19px 25px;
    }
  }

  .collapsed {
    border: 2px solid #E6E6E6;
    color: #E6E6E6 !important;
  }

  .card-body {
    color: $blackm;

    span {
      font-size: 22px;
    }
  }

  input {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
    margin: 0.4rem 0;
  }
  textarea {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
  }

  input {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
  }
  textarea {
    @extend .col-12;
    border: 2px solid $greym;
    padding: 0.6rem 1rem;
  }

  button {
    border: none;
    background: transparent;
  }

  .wpcf7-response-output {
    margin-top: 0px;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .link-collapse {
      margin: 0rem 1rem;
    }

    .icon {
      margin-right: 0.5rem;
    }

    .wpcf7-response-output {
      margin: 7em 0.5em 1em;
    }

    .card-body {
      padding-left: 0;
    }

    .slide {
      height: 513px;
      h2 {
        font-size: 88px;
        margin-top: 5rem;
      }
    }
  }
}