.politica-de-privacidade {

  .slide {
    background: url("../img/slide-politica-de-privacidade.png") center center no-repeat;
    background-position-x: -20em;
    background-size: cover;
    width: 100%;
    height: 372px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      font-size: 48px;
      color: #fff;
    }
  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .slide {
      background: url("../img/slide-politica-de-privacidade.png") center center no-repeat;
      height: 513px;
      h2 {
        font-size: 88px;
      }
    }
  }
}