.single-carousel {

  .item .slide-single {
    //background: url("../img/single-carousel.png") center center no-repeat;
    background-size: cover;
    height: 374px;
  }

  .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
  }

  .owl-dot.active span {
    display: block !important;
    background: #fff !important;
  }

  .owl-dot span {
    display: block !important;
    background: #fff !important;
  }

}

.benefits {

  .owl-stage-outer {
    overflow-x: scroll;
  }

  .item {
    background: $greyl;
    text-align: center;
    width: 170px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;


    p{
      margin-bottom: 0;

    }

    .icon {
      @extend .col-12;
      height: 62px;

      img {
        width: 65px;
        margin: 0 auto;
      }
    }
  }

  ::-webkit-scrollbar {
    height: 6px;
  }
}

@media(min-width: map-get($grid-breakpoints, md)) {

  .benefits {

    .item {
      align-items: center;

      padding: 1rem 0;

      p {
        margin-bottom: 0;
      }
    }
  }

  .single-carousel .item .slide-single {
    height: 500px;


  }
}

.ficha-tecnica {

  .spotlight h2 {
    width: 218px;
    height: 49px;
  }

  .item {
    font-size: 20px;

  }

  @media(min-width: map-get($grid-breakpoints, md)) {

    .spotlight h2 {
      width: 275px;
      height: 55px;
    }
  }
}

.localizacao {

  iframe {
    height: 375px;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {
    iframe {
      height: 630px;
    }
  }
}

#single-video{

  iframe {
    width: 100% !important;
  }

}

.depoimentos {

  p {
    color: #fff;
    font-size: 20px;
  }

  span {
    font-size: 20px;
    color: $blackm;

  }

  .video{
    margin-bottom: -9px;
    padding-right: 0;
    padding-left: 0;

    iframe {
      height: 397px;
      width: 100% !important;
    }

  }

  .info {
    padding-top: 2rem;

    .fa-facebook-f{
      height: 56px;
      width: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 5rem;
      right: 2rem;
    }

    i {
      background: #445791;
    }
  }

  .owl-nav {
    position: absolute;
    background: $red;
    right: 0;
    top: 22rem;
    display: block !important;

    .next{
      width: 144px;
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }

    .owl-prev{
      display: none !important;
    }
    button {
      display: block !important;
      border: none;
      outline: none;
    }
    display: block !important;
  }

  @media(min-width: map-get($grid-breakpoints, md)) {
    .owl-nav{
      position: absolute;
      background: #E73339;
      right: 9.4rem;
      left: 0px;
      width: 150px;
      top: 24.8rem;
      display: block !important;
      display: block !important;
      margin: 0 auto;
    }

    .fort-block {
      margin-right: -2rem;
      margin-bottom: -142px;
      padding-top: 17px;
    }

    @include make-container-max-widths();
  }
}

.documentacao{

  .download .border-top-r{
    display: block;
    width: 241px;
    font-size: 18px;
    text-align: left;
    margin: 2em 0 !important;

    &:nth-child(2){
      border-color: $blued !important;
    }

    &:nth-child(3){
      border-color: $greyd !important;
    }
    @media(min-width: map-get($grid-breakpoints, md)) {
      font-size: 24px;
      width: 299px !important;
    }
  }


}