.sobre-a-veccon {

  .slide {
    background: url("../img/slide-sobre-a-veccon.png") center center no-repeat;
    background-size: cover;
    height: 513px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    margin-bottom: 0;
    margin: auto;
  }
}

@media(min-width: map-get($grid-breakpoints, md)) {
  .slide {
    height: 513px;
    h2 {
      font-size: 88px;
    }
  }
}


