@import "../../source/components/bootstrap/scss/bootstrap";
@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

$greyd: #707070;
$greym: #BDBDBD;
$greyl: #E6E6E6;
$blackm: #555C62;
$black: #1C1C1C;
$blued: #1E1954;
$red: #E73339;

@font-face {
  font-family: nexa-regular;
  src: url('../fonts/nexaregular.woff');
}

@font-face {
  font-family: nexa-light;
  src: url('../fonts/NexaLight.woff');
}

@font-face {
  font-family: nexo-bold;
  src: url('../fonts/NexaBold.woff');
}

body {
 font-family: 'nexa-regular';
 font-weight: 500;
}

a {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: $greyd;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $red;
  border-radius: 6px;
  cursor: pointer;
}

@media(min-width: map-get($grid-breakpoints, xs)) {

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 21px;
  }
}


@media(min-width: map-get($grid-breakpoints, md)) {

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 28px;
  }

}

a {
  text-decoration: none;
}

img {
  @extend .img-fluid;
}


a {
  cursor: pointer;
}


.color-black{
  color: $black !important;
}

.color-blackm{
  color: $blackm !important;
}

.color-red{
  color: $red !important;
}

.color-greyd{
  color: $greyd;
}

.color-greym{
  color: $greym;
}


.bg-red{
background: $red;
}

.bg-blued{
  background: $blued;
}

.bg-greyd{
  background: $greyd;
}

.border-red-l{
  border-left: 2px solid $red;
}

.border-top-r{
  border-top: $red 2px solid;
  display: inline-block;
  font-size: 24px;

  .send{
    border: none;
    color: #fff;
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
    cursor: pointer;
    font-weight: bold;
  }
}

h4{
  display: none;
}

.d-nonee{
  display: none;
}

@media only screen and (max-width: 600px) {
  #sntch_button{
    bottom: 80px !important;
  }
}

.border-none{
  border: none !important;


  @media(min-width: map-get($grid-breakpoints, md)) {
    border-right: 1px solid $greym !important;
  }
}

@import 'animate';

@import 'remodal';

@import 'remodal-default-theme';

@import 'owl.theme.default.min';

@import 'owl.carousel';

@import 'acao-social';

@import 'politica-privacidade';

@import 'invista';

@import 'single-template';

@import 'sobre-a-veccon';

@import 'historia';

@import 'cadastre-sua-area';

@import 'boleto';

@import 'imoveis';

@import 'header';

@import 'contato';

@import 'footer';

@import 'home';



